services:
  postgres:
    image: postgres:18-alpine
    container_name: drive-insights-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: drive_insights
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
